.hyperlink {
    -fx-text-fill: #228B22;
    -fx-border-color: transparent;
    -fx-padding: 4 0 4 0;
    -fx-font-family: "Lucida Console", monospace;
    -fx-font-size: 24px;
}

.label {
    -fx-text-fill: #228B22;
    -fx-border-color: transparent;
    -fx-padding: 4 0 4 0;
    -fx-font-family: "Lucida Console", monospace;
    -fx-font-size: 36px;
}